@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Lobster");
#palette01 {
  background-color:
    hsl(0, 100%, 100%),
    hsl(0, 35%, 5%),
    hsl(0, 100%, 90%),
    hsl(355, 80%, 60%),
    hsl(45, 80%, 70%),
    hsl(45, 75%, 85%),
    hsl(185, 50%, 50%),
    hsl(190, 90%, 55%);
}
html {
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
  text-shadow: 0 2px 0 hsl(0, 35%, 5%), .1;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Bree Serif', serif;
  background-color: hsl(355, 80%, 60%);
}

/* map */
.mapContainer {
  display: grid;
  justify-items: center;
  align-items: end;
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(135deg, hsl(0, 100%, 90%) 25%, transparent 25%) -2px 0,
    linear-gradient(225deg, hsl(0, 100%, 90%) 25%, transparent 25%) -2px 0,
    linear-gradient(315deg, hsl(0, 100%, 90%) 25%, transparent 25%),
    linear-gradient(45deg, hsl(0, 100%, 90%) 25%, transparent 25%);
  background-size: 4px 4px;
  background-color: hsl(355, 80%, 60%);
}
.mapElement {
  width: 100%;
  height: 80vh;
  border-top: 1rem solid hsl(355, 80%, 60%);
  border-bottom: 1rem solid hsl(355, 80%, 60%);
}

/* infoBox */
.infoBox {
  width: 80% !important;
  max-width: 450px;
  min-height: 10vh;
  padding: .5rem;
  overflow: visible !important;
  transform: translateX(-50%) translateY(15px) !important;
  background-color: hsl(355, 80%, 60%);
}
.infoBox::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -.5rem;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) rotate(45deg);
  background-color: hsl(355, 80%, 60%);
}
.ibContent {
  display: grid;
  grid-template-columns: 1fr;
  max-height: 25vh !important;
  word-wrap: break-word;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(355, 80%, 60%);
}
.ibContent .painting {
  margin-right: .5rem;
  background-color: hsl(185, 50%, 50%);
}
.ibContent .painting img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.ibContent .info {
  padding: .5rem;
  margin-right: .5rem;
  font-size: .8rem;
  color: hsl(0, 35%, 5%);
  background-color: hsl(0, 100%, 90%);
}
.ibContent .info h2 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
.ibContent .wiki {
  padding: .5rem;
  margin-right: .5rem;
  font-size: .8rem;
  line-height: 1.3;
  color: hsl(355, 80%, 60%);
  background-color: hsl(45, 75%, 85%);
}
.ibContent .wiki .error {
  display: block;
  padding: .5rem;
  text-align: center;
  font-size: 1rem;
  color: hsl(45, 75%, 85%);
  background-color: hsl(355, 80%, 60%);
}
.ibContent .wiki h3 {
  margin-bottom: .5rem;
  border-bottom: 2px solid hsl(0, 35%, 5%);
  color: hsl(0, 35%, 5%);
}
.ibContent .wiki p {
  padding: .3rem;
}
@media screen and (min-width: 501px) {
  .ibContent {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: .5rem;
  }
  .ibContent .painting {
    margin-right: 0;
  }
  .ibContent .wiki {
    grid-column: span 2;
  }
}

/* react-burger-menu from https://github.com/negomi/react-burger-menu */
.bm-burger-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  opacity: .8;
  box-shadow: 1px 1px 2px hsla(0, 35%, 5%, .8);
}
.bm-burger-button:hover {
  opacity: 1;
}
.bm-cross-button {
  margin-top: .5rem;
  margin-right: .5rem;
  width: 1.5rem !important;
  height: 1.5rem !important;
  opacity: .8;
}
.bm-cross-button:hover {
  opacity: 1;
}
.bm-menu {
  width: 100% !important;
  padding: 0;
  white-space: normal !important;
  overflow-y: auto !important;
  font-size: 1rem;
  box-shadow: 1px 0px 4px hsla(0, 35%, 5%, .3);
  background-color: hsl(355, 80%, 60%);
}
.bm-item-list {
  width: 100% !important;
  color: hsl(0, 100%, 90%);
}
.bm-item {
  display: inline-block;
}
.bm-overlay {
  background-color: hsla(0, 100%, 90%, .6) !important;
}

/* menu */
.menuTop {
  display: grid !important;
  grid-template-columns: 80px auto;
  align-content: center;
  justify-items: center;
  align-items: center;
  height: 10rem;
  padding: 1rem;
  cursor: default;
  background-color: hsl(190, 90%, 55%);
  background: url(./images/menutop_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.menuArtists {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 70px;
  justify-content: center;
  justify-items: center;
}
.menuArtists button {
  width: 100%;
  padding: 1rem;
  font-family: 'Bree Serif', serif;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  background-color: hsl(45, 80%, 70%);
}
.menuArtists button:focus {
  outline: none;
}
.menuArtists button:hover {
  background-color: hsl(185, 50%, 50%);
}
.menuActive {
  background-color: hsl(45, 75%, 85%) !important;
}
ul {
  display: block;
  margin: .8rem;
  margin-top: 1.2rem;
  padding: 0;
  list-style-type: none;
  font-size: .9rem;
}
li {
  padding: .5rem;
  text-transform: uppercase;
  border: 1px solid hsl(0, 100%, 90%);
  border-bottom: none;
}
li:last-of-type {
  border-bottom: 1px solid hsl(0, 100%, 90%);
}
li:hover {
  cursor: pointer;
  color: hsl(0, 35%, 5%);
  background-color: hsl(0, 100%, 90%);
}

/* logo (absolute units for 300px div) */
.logoImage {
  position: relative;
  right: -10px;
  width: 80px;
  z-index: 123;
}
.logoText {
  position: relative;
  left: -10px;
}
.titleOne,
.titleTwo,
.titleThree {
  font-family: 'Lobster', cursive;
  font-size: 16px;
  font-weight: 900;
  line-height: .9;
  text-shadow: 1px 1px 0 hsl(0, 35%, 5%);
  color: hsl(0, 100%, 100%);
}
.titleOne {
  transform: rotate(-25deg) translate(0px, -38px);
}
.titleTwo {
  font-size: 32px;
}
.titleThree {
  justify-self: end;
  text-align: right;
  font-weight: 300;
  text-shadow: none;
  color: hsl(0, 35%, 5%);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: hsla(0, 96%, 90%, .5);
}
::-webkit-scrollbar-thumb {
  background: hsla(185, 50%, 50%, .9);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(245, 206, 206, .7);
}

/* loading */
.loading {
  position: fixed;
  display: grid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-items: center;
}
/* loading spinner from https://loading.io */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #cef;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

/* dataFailed */
.dataFailed {
  position: fixed;
  display: grid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-content: center;
  align-items: center;
  justify-items: center;
  z-index: 1111;
  background-color: hsl(45, 80%, 70%);
}
.dataFailed span {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  font-size: 0;
  opacity: .8;
  background-image: url(./images/error.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.dataFailed .message {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1rem;
  background-color: hsla(0, 100%, 100%, .5);
}
.dataFailed .message p {
  font-size: 1.4rem;
  text-align: center;
  color: hsl(0, 35%, 5%);
}
.dataFailed button {
  margin: 1rem;
  padding: .8rem;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  text-decoration: none;
  color: hsl(0, 100%, 90%);
  border-radius: .3rem;
  background-color: hsl(355, 80%, 60%);
}
.dataFailed button:hover {
  cursor: pointer;
  background-color: hsl(185, 50%, 50%);
}