html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #61dafb;
}

.infoBox {
  background-color: #5890ff;
  width: 80% !important;
  max-width: 450px;
  transform: translateX(-50%) translateY(15px) !important;
  padding: .5rem;
  overflow: visible !important;
}
.infoBox::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #5890ff;
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) rotate(45deg);
}
.teste {
  max-height: 20vh !important;
  word-wrap: break-word;
  overflow-Y: scroll;
  background-color: #5890ff;
}

.mapContainer {
  display: grid;
  justify-items: center;
  align-items: end;
  width: 100%;
  height: 100vh;
  background:
  linear-gradient(135deg, #f8ff92 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #f8ff92 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #f8ff92 25%, transparent 25%),
  linear-gradient(45deg, #f8ff92 25%, transparent 25%);
background-size: 100px 100px;
background-color: rgb(235, 231, 181);
}

.mapElement {
  width: 100%;
  height: 70vh;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 54px;
  width: 54px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #7bff00;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1rem;
  font-size: 1.15em;
  width: 100% !important;
  padding: 0;
  white-space: normal !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #f7e200;
  width: 100% !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(247, 0, 0, 0.479) !important;
}

.menuArtists {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100px;
  background-color: #f7e200;
  justify-content: center;
  justify-items: center;
  margin-top: 40px;
}
.menuArtists button {
  text-decoration: none;
  border: none;
  width: 100%;
  background-color: #f7e200;
}
.menuArtists button:focus {
  outline: none;
}
.menuArtists button:hover {
  background-color: #5890ff;
}
.menuActive {
  background-color: #f8ff92 !important;
}